body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edf2f8;
    font-size: 13px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    width: 1100px;
    height: 575px;

    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira"
    ;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    > div {
        border-radius: 10px;
        padding: 15px 30px 15px 30px; 
        color: white;
    }
}

.daniel {
    background-color: #733fc8;

    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 80%;

    .bloc__author-photo {
        background-image: url('../images/image-daniel.jpg');
        border: 3px solid #ab7de9;
    }
}

.jonathan {
    background-color: #49556b;

    .bloc__author-photo {
        background-image: url('../images/image-jonathan.jpg');
        border: 3px solid white;
    }
}

.kira, .jeanette {
    background-color: white;
    color: #4d5562 !important;
}

.kira {
    .bloc__author-photo {
        background-image: url('../images/image-kira.jpg');
        border: 3px solid grey;
    }
}

.jeanette {
    .bloc__author-photo {
        background-image: url('../images/image-jeanette.jpg');
        border: 3px solid grey;
    }
}

.patrick {
    background-color: #18202d;

    .bloc__author-photo {
        background-image: url('../images/image-patrick.jpg');
        border: 3px solid #ab7de9;
    }
}

.bloc__author {
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }
}

.bloc__author-photo {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 100%;
}

.bloc__author-info {
    margin-left: 20px;
}

.name {
    font-weight: 600;
    font-size: 15px;
}

.graduate {
    font-weight:300;
    font-size: 13px;
}

.bloc__text-big {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 400px) {
    body {
        height: auto;
    }
    .container {
        padding: 10px;
        width: auto;
        height: auto;
    
        grid-template-columns:1fr;
        grid-template-areas: "daniel" "jonathan" "jeanette" "patrick" "kira";
    }
}